@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Components */
@import "./components/nav.css";
@import "./components/footer.css";
@import "./components/section.css";
@import "./components/title.css";
@import "./components/description.css";
@import "./components/button.css";
@import "./components/card.css";
@import "./components/img.css";

/* 글자사이트 표준 14px */
* {
  font-family: "IBM Plex Sans KR", sans-serif;
}

body {
  @apply bg-black text-gray-50 text-sm lg:text-lg font-light;
}

.main-title {
  @apply text-8xl;
}

.sub-title {
  @apply text-2xl xl:text-5xl;
}

.item-list-title {
  @apply text-xl;
}

.item-list-description {
  @apply lg:pt-5 text-start text-base font-thin lg:font-bold;
}

.h1-title {
  @apply text-4xl lg:text-7xl tracking-tighter font-bold;
}

.h2-title {
  @apply text-2xl lg:text-5xl font-extrabold leading-tight tracking-tight;
}

.h3-title {
  @apply text-base lg:text-2xl tracking-tighter font-semibold;
}

/* Description paragraph */

/* S */
.El {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.El__wrapper {
  display: flex;
  width: 400vw;
  height: 100vh;
}

.El__slide {
  display: flex;
  align-items: center;
  width: 100vw;
  @apply p-[300px] 2xl:p-[100px];
}

.El__content {
  width: 100%;
  height: 100%;
}

.El__content {
  @apply p-40;
}
.El__content ul {
  @apply list-disc px-10 py-10;
}

.El__content ul li {
  @apply font-thin text-2xl;
}
.El__title,
.El__subtitle {
  position: relative;
}

.El__title {
  @apply text-7xl font-semibold tracking-tighter;
}

.El__subtitle {
  position: relative;
  @apply text-3xl tracking-tighter 2xl:text-5xl font-semibold;
}
